<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-default-custom">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-custom">
                <div class="inline">
                    <img class="img-icon" src="~/Content/themes/base/images/food-logo.png">
                </div>
                <div class="inline">
                    <img class="img-center" src="~/Content/themes/base/images/dfood.png">
                </div>
            </div>
        </div>
    </nav>
    <div class="vendors">
        @RenderBody()
    </div>
    <div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
