<!DOCTYPE html>
<html lang="en" ng-app="foodyApp">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/appInit")
    @Scripts.Render("~/bundles/orderCtr")
    @Scripts.Render("~/bundles/menuCtr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="color-gray-f1f2f2">
    <div class="body-center">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0.8px;">
                            <ul class="nav navbar-nav">
                                <li><a href="~/Home/Index" class="bold">Trang chủ</a></li>
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle bold" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thực đơn<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://getbootstrap.com/examples/navbar/#">Đồ ăn</a></li>
                                        <li><a href="https://getbootstrap.com/examples/navbar/#">Thức uống</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/About/About" class="bold">Liên hệ</a></li>
                                <li><a href="~/About/Difference" class="bold">Khác biệt</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <form class="navbar-form navbar-right" role="search" action="~/Menu/SearchMenuName" method="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search" name="menuName">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="img-banner" src="http://abundanthealthunlimited.com/wp-content/uploads/2014/12/cropped-fruit-banner.jpg">
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row row-expand ">
                    <div class="col-md-3 border-right">
                        <a href="">
                            <img src="http://vieclam.24h.com.vn/upload/files_cua_nguoi_dung/logo/2012/10/09/1349779572_LOgo_copy1.jpg" class="img_responsive" title="Alô! Ăn Vặt" alt="Alo! an Vat">
                        </a>
                        <div class="row row-expand">
                            @Html.Partial("~/Views/Shared/_VendorFilter.cshtml")

                        </div>
                        <div class="row row-expand">
                            @Html.Partial("~/Views/Shared/_OrderPartial.cshtml")
                        </div>

                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>

                <div class="row row-expand">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide border-top" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner main-content">
                                <div class="item active">
                                    <div class="text-center">
                                        <img class="text-center img-large border-cadeblue" src="http://www.cachlambanh.biz/wp-content/uploads/2014/04/cach-lam-banh-trang-tron-1.jpg" alt="...">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="text-center">
                                        <img class="text-center img-large border-cadeblue" src="http://afamily1.vcmedia.vn/k:Qh1tqCvasFa5ycKJMFgLu7cmgi4CK/Image/2013/05/banh-trang-nuong-472ef/hap-dan-cac-mon-an-vat-tai-hem-am-thuc-cao-thang-.jpg" alt="...">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="text-center">
                                        <img class="text-center img-large border-cadeblue" src="http://afamily1.vcmedia.vn/k:Qh1tqCvasFa5ycKJMFgLu7cmgi4CK/Image/2013/05/sup-cua-2-6985e/hap-dan-cac-mon-an-vat-tai-hem-am-thuc-cao-thang-.JPG" alt="...">
                                    </div>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left gray"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right gray"></span>
                            </a>
                        </div> <!-- Carousel -->
                    </div>
                </div>

                <div class="similar-collections row">
                    <h3 class="bold">
                        Các bộ sưu tập liên quan
                    </h3>
                    <ul class="blocks">
                        <li>
                            <div class="block-collection">
                                <div class="title-wrapper">
                                    <a class="" href="/kikibabeboo/25k-to-banh-canh-cua-gia-truyen-ngay-khu-an-uong-quan-10-1442308697">
                                        <h4 title="25k/tô bánh canh cua gia truyền ngay khu ăn uống quận 10  của Kỳ Kỳ">
                                            25k/tô bánh canh cua gia truyền ngay khu ăn uống quận 10
                                        </h4>
                                    </a>
                                </div><div class="cover">
                                    <img src="http://tea-4.lozi.vn/v1/assets/images/48dbebc968c74a6192e82500cdbaa6e9" alt="http://tea-4.lozi.vn/v1/assets/images/48dbebc968c74a6192e82500cdbaa6e9" style="background:gray;">
                                    <div class="count-photo">
                                        <span>
                                            <span>16</span>
                                            <span> ảnh</span>
                                        </span>
                                    </div>
                                    <div class="actions">
                                        <a class="button follow collection" data-display-name="ReactButton" href="" data-active="false" data-over="false" data-focused="false" style="justify-content:center;"><span>Quan tâm</span></a>
                                    </div>
                                </div>
                                <ul class="covers-small"><li><img src="http://tea-4.lozi.vn/v1/assets/images/a5de10c98ecc7594464ecaca2b9802e5" alt="http://tea-4.lozi.vn/v1/assets/images/a5de10c98ecc7594464ecaca2b9802e5"></li><li><img src="http://tea-4.lozi.vn/v1/assets/images/c5399e53f57ba080883993992414463e" alt="http://tea-4.lozi.vn/v1/assets/images/c5399e53f57ba080883993992414463e"></li><li><img src="http://tea-4.lozi.vn/v1/assets/images/6d2a7502c53cc98d7badcf1996582e1f" alt="http://tea-4.lozi.vn/v1/assets/images/6d2a7502c53cc98d7badcf1996582e1f"></li></ul>
                                <div class="stop-copying"></div>
                            </div>
                        </li>
                        <li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0">
                            <div class="block-collection" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0">
                                <div class="title-wrapper" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0">
                                    <a class="" href="/kikibabeboo/25k-to-banh-canh-cua-gia-truyen-ngay-khu-an-uong-quan-10-1442308697" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0.0">
                                        <h4 title="25k/tô bánh canh cua gia truyền ngay khu ăn uống quận 10  của Kỳ Kỳ" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0.0.0">
                                            25k/tô bánh canh cua gia truyền ngay khu ăn uống quận 10
                                        </h4>
                                    </a>
                                </div><div class="cover" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1">
                                    <img src="http://tea-4.lozi.vn/v1/assets/images/48dbebc968c74a6192e82500cdbaa6e9" alt="http://tea-4.lozi.vn/v1/assets/images/48dbebc968c74a6192e82500cdbaa6e9" style="background:gray;" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.0">
                                    <div class="count-photo" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1">
                                        <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0">
                                            <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0.0">16</span>
                                            <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0.1"> ảnh</span>
                                        </span>
                                    </div>
                                    <div class="actions" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2">
                                        <a class="button follow collection" data-display-name="ReactButton" href="" data-active="false" data-over="false" data-focused="false" style="justify-content:center;" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2.0"><span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2.0.2">Quan tâm</span></a>
                                    </div>
                                </div><ul class="covers-small" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2"><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$0"><img src="http://tea-4.lozi.vn/v1/assets/images/a5de10c98ecc7594464ecaca2b9802e5" alt="http://tea-4.lozi.vn/v1/assets/images/a5de10c98ecc7594464ecaca2b9802e5" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$0.0"></li><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$1"><img src="http://tea-4.lozi.vn/v1/assets/images/c5399e53f57ba080883993992414463e" alt="http://tea-4.lozi.vn/v1/assets/images/c5399e53f57ba080883993992414463e" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$1.0"></li><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$2"><img src="http://tea-4.lozi.vn/v1/assets/images/6d2a7502c53cc98d7badcf1996582e1f" alt="http://tea-4.lozi.vn/v1/assets/images/6d2a7502c53cc98d7badcf1996582e1f" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$2.0"></li></ul><div class="stop-copying" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.3"></div>
                            </div>
                        </li>
                        <li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0">
                            <div class="block-collection" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0">
                                <div class="title-wrapper" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0">
                                    <a class="" href="/kikibabeboo/25k-to-banh-canh-cua-gia-truyen-ngay-khu-an-uong-quan-10-1442308697" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0.0">
                                        <h4 title="25k/tô bánh canh cua gia truyền ngay khu ăn uống quận 10  của Kỳ Kỳ" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0.0.0">
                                            25k/tô bánh canh cua gia truyền ngay khu ăn uống quận 10
                                        </h4>
                                    </a>
                                </div><div class="cover" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1">
                                    <img src="http://tea-4.lozi.vn/v1/assets/images/48dbebc968c74a6192e82500cdbaa6e9" alt="http://tea-4.lozi.vn/v1/assets/images/48dbebc968c74a6192e82500cdbaa6e9" style="background:gray;" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.0">
                                    <div class="count-photo" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1">
                                        <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0">
                                            <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0.0">16</span>
                                            <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0.1"> ảnh</span>
                                        </span>
                                    </div>
                                    <div class="actions" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2">
                                        <a class="button follow collection" data-display-name="ReactButton" href="" data-active="false" data-over="false" data-focused="false" style="justify-content:center;" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2.0"><span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2.0.2">Quan tâm</span></a>
                                    </div>
                                </div><ul class="covers-small" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2"><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$0"><img src="http://tea-4.lozi.vn/v1/assets/images/a5de10c98ecc7594464ecaca2b9802e5" alt="http://tea-4.lozi.vn/v1/assets/images/a5de10c98ecc7594464ecaca2b9802e5" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$0.0"></li><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$1"><img src="http://tea-4.lozi.vn/v1/assets/images/c5399e53f57ba080883993992414463e" alt="http://tea-4.lozi.vn/v1/assets/images/c5399e53f57ba080883993992414463e" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$1.0"></li><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$2"><img src="http://tea-4.lozi.vn/v1/assets/images/6d2a7502c53cc98d7badcf1996582e1f" alt="http://tea-4.lozi.vn/v1/assets/images/6d2a7502c53cc98d7badcf1996582e1f" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$2.0"></li></ul><div class="stop-copying" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.3"></div>
                            </div>
                        </li>
                        <li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0">
                            <div class="block-collection" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0">
                                <div class="title-wrapper" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0">
                                    <a class="" href="/kikibabeboo/25k-to-banh-canh-cua-gia-truyen-ngay-khu-an-uong-quan-10-1442308697" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0.0">
                                        <h4 title="25k/tô bánh canh cua gia truyền ngay khu ăn uống quận 10  của Kỳ Kỳ" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0.0.0">
                                            25k/tô bánh canh cua gia truyền ngay khu ăn uống quận 10
                                        </h4>
                                    </a>
                                </div><div class="cover" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1">
                                    <img src="http://tea-4.lozi.vn/v1/assets/images/48dbebc968c74a6192e82500cdbaa6e9" alt="http://tea-4.lozi.vn/v1/assets/images/48dbebc968c74a6192e82500cdbaa6e9" style="background:gray;" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.0">
                                    <div class="count-photo" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1">
                                        <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0">
                                            <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0.0">16</span>
                                            <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0.1"> ảnh</span>
                                        </span>
                                    </div>
                                    <div class="actions" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2">
                                        <a class="button follow collection" data-display-name="ReactButton" href="" data-active="false" data-over="false" data-focused="false" style="justify-content:center;" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2.0"><span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2.0.2">Quan tâm</span></a>
                                    </div>
                                </div><ul class="covers-small" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2"><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$0"><img src="http://tea-4.lozi.vn/v1/assets/images/a5de10c98ecc7594464ecaca2b9802e5" alt="http://tea-4.lozi.vn/v1/assets/images/a5de10c98ecc7594464ecaca2b9802e5" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$0.0"></li><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$1"><img src="http://tea-4.lozi.vn/v1/assets/images/c5399e53f57ba080883993992414463e" alt="http://tea-4.lozi.vn/v1/assets/images/c5399e53f57ba080883993992414463e" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$1.0"></li><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$2"><img src="http://tea-4.lozi.vn/v1/assets/images/6d2a7502c53cc98d7badcf1996582e1f" alt="http://tea-4.lozi.vn/v1/assets/images/6d2a7502c53cc98d7badcf1996582e1f" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$2.0"></li></ul><div class="stop-copying" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.3"></div>
                            </div>
                        </li>
                        <li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0">
                            <div class="block-collection" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0">
                                <div class="title-wrapper" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0">
                                    <a class="" href="/kikibabeboo/25k-to-banh-canh-cua-gia-truyen-ngay-khu-an-uong-quan-10-1442308697" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0.0">
                                        <h4 title="25k/tô bánh canh cua gia truyền ngay khu ăn uống quận 10  của Kỳ Kỳ" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.0.0.0">
                                            25k/tô bánh canh cua gia truyền ngay khu ăn uống quận 10
                                        </h4>
                                    </a>
                                </div><div class="cover" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1">
                                    <img src="http://tea-4.lozi.vn/v1/assets/images/48dbebc968c74a6192e82500cdbaa6e9" alt="http://tea-4.lozi.vn/v1/assets/images/48dbebc968c74a6192e82500cdbaa6e9" style="background:gray;" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.0">
                                    <div class="count-photo" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1">
                                        <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0">
                                            <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0.0">16</span>
                                            <span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.1.0.1"> ảnh</span>
                                        </span>
                                    </div>
                                    <div class="actions" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2">
                                        <a class="button follow collection" data-display-name="ReactButton" href="" data-active="false" data-over="false" data-focused="false" style="justify-content:center;" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2.0"><span data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.1.2.0.2">Quan tâm</span></a>
                                    </div>
                                </div><ul class="covers-small" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2"><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$0"><img src="http://tea-4.lozi.vn/v1/assets/images/a5de10c98ecc7594464ecaca2b9802e5" alt="http://tea-4.lozi.vn/v1/assets/images/a5de10c98ecc7594464ecaca2b9802e5" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$0.0"></li><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$1"><img src="http://tea-4.lozi.vn/v1/assets/images/c5399e53f57ba080883993992414463e" alt="http://tea-4.lozi.vn/v1/assets/images/c5399e53f57ba080883993992414463e" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$1.0"></li><li data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$2"><img src="http://tea-4.lozi.vn/v1/assets/images/6d2a7502c53cc98d7badcf1996582e1f" alt="http://tea-4.lozi.vn/v1/assets/images/6d2a7502c53cc98d7badcf1996582e1f" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.2.$2.0"></li></ul><div class="stop-copying" data-reactid=".1icr8uar11c.1.$=11:0.0.5.1.$0.0.3"></div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="row row-expand">
                    <div class="col-md-12 border-top bold margin-top-100px padding-top-100px">
                        Địa chỉ: 338 Tân Hương, Tân Phú, TPHCM. Số điện thoại: 0909054033
                    </div>
                </div>
            </div>
        </div>

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
